{% extends 'layout.html' %}

{% block content %}
    <div class="container">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建用户 </h3>
            </div>
            <div class="panel-body">
                {#            如果不使用modelform默认的样式 需要输入novalidate 在h5的form中#}
                <form method="post" novalidate>
                    {% csrf_token %}

                    {#                    通过遍历传入的modelform中的label（中文名） 得到所有行名的名字 然后通过遍历的field本身把输入框显示出来#}
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {#                            当输入数据错误时 modelforms回封装错误的数据在errors中 通过.0把它显示给页面#}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>


    </div>
{% endblock %}