{% extends 'layout.html' %}

{% block content %}
    <div class="container">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 编辑用户 </h3>
            </div>
            <div class="panel-body">
                {#            完全等同于添加 区别在于 在views中 一个是直接新建一行保存数据 一个是找到需要保存的行 通过再一次的保存更新数据#}

                <form method="post" novalidate>
                    {% csrf_token %}


                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>


    </div>
{% endblock %}