{% extends 'layout.html' %}

{% block content %}
<div class="container">
{#     按钮#}
            <a style="margin-bottom: 10px; display: inline-flex; align-items: center;" class="btn" href="/user/add" target="_blank">
                    <span style="margin-right: 5px;" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>添加
            </a>

{# 表格#}
          <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
          用户列表
      </div>



      <!-- Table -->
      <table class="table table-bordered    ">
        <thead>
          <tr >
                <th>序列</th>
            {% for field in form %}

                <th>{{ field.label_tag}}</th>

            {% endfor %}
                <th style="color: coral ;text-align:center" >操作</th>
          </tr>
        </thead>
        <tbody>

          <tr>
             {% for obj in q %}
                 <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.password }}</td>
                        <td>{{ obj.age }}</td>
                        <td>{{ obj.account }}</td>
                        <td>{{ obj.time|date:"Y-m-d" }}</td>
                         <td>{{ obj.depart.title }}</td>
                        <td>{{ obj.get_gender_display }}</td>



             {% endfor %}



            <td style="text-align:center ; width:150px " >
                <a class="btn" style="background-color:cornflowerblue ;margin-right: 30px;padding:1px 1.5px" href="/depart/{{ obj.id}}/edit">编辑</a>
                <a class="btn" style="background-color:red ;padding:1px 1.5px" href="/depart/delete?nid={{ obj.id }}">删除</a>
            </td>

          </tr>


        </tbody>
      </table>
    </div>
    </div>
</div>
{% endblock %}